# Virtual Environment
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3
db.sqlite3
media/
.DS_Store

# Logs
*.log

# Local configuration
.env
*.pyc