{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сайт рецептов{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'recipe_list' %}">Главная</a>
        <a href="{% url 'about' %}">О проекте</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>